@use 'src/styles/vars.scss';

@media screen and (max-width: 700px) {
  .coin__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 1rem;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1rem;
      padding-right: 1rem;

      &--img {
        width: 40px;
        height: 40px;
      }
    }

    &-intro {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 1rem;

      &--title {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: .5rem;
      }

      &--ranking {
        display: block;
        padding: .3rem;
        border-radius: 3px;
        font-size: .8rem;
        font-weight: bold;
        text-align: center;
        align-self: flex-start;
      }
    }

    .goButton.coin__page-goButton {
      margin: 0;
      align-self: flex-start;
    }

    .symbol {
      font-size: .9rem;
      padding-left: .5rem;
    }

    &__details {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-item {
      height: auto;
      width: 100%;
      display: block;
      position: relative;
      margin: 0 auto 1rem auto;
      padding: 1em 2em;
      font-weight: 400;
      background-color: vars.$firstColor;
      color: vars.$sixthColor;
      border: 1px solid vars.$sixthColor;
      border-radius: 10px;
      box-shadow: vars.$secondColor 4px 4px 0px 0px;

      &--backgroundImg {
        position: absolute;
        width: 130px;
        height: 130px;
        top: 30px;
        right: 20px;
        opacity: .3;
      }
    }

    .coin__content {
      line-height: 1.2;
      &--price-list {
        margin-bottom: .7rem;
      }
      &--price-change {
        margin-left: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    &--title {
      margin: 1rem 0;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__desc {
      margin: 5rem 0 2rem;
      text-align: justify;

      &--title {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
      }

      &--text {
        line-height: 1.5;
        letter-spacing: 1.5px;
        padding: 0 .3rem;
      }
    }
  }

  .graphContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .graphHeader {
      width: 100%;
      min-height: 100px;
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 1rem;

      .rightSide {
        flex-direction: column;

        .coin__price {
          margin-top: .5rem;

          &.smallText {
            font-size: .9rem;
            padding-left: 0;
          }

          &-big {
            font-size: 2rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 700px) {
  .coin__page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 4rem;

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 1rem;

      &--img {
        width: 40px;
        height: 40px;
        margin-left: 2rem;
      }
    }

    &-intro {
      display: flex;
      align-items: center;
      width: 100%;

      &--title {
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 2rem;
        font-weight: bold;
      }

      &--ranking {
        display: inline-block;
        margin-left: 1rem;
        padding: .3rem;
        border-radius: 3px;
        font-size: .8rem;
        font-weight: bold;
      }
    }
    .symbol {
      padding-right: 0;
    }
    .goButton.coin__page-goButton  {
      align-self: flex-start;
      margin: 0;
    }

    &__details {
      position: relative;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;

      // page divider
      &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 60%;
        top: 25%;
        right: 0;
      }
    }

    &-item {
      height: auto;
      width: 495px;
      display: block;
      position: relative;
      padding: 1em 2em;
      font-weight: 400;
      background-color: vars.$firstColor;
      color: vars.$sixthColor;
      border: 1px solid vars.$sixthColor;
      border-radius: 10px;
      box-shadow: vars.$secondColor 4px 4px 0px 0px;

      &--backgroundImg {
        position: absolute;
        width: 150px;
        height: 150px;
        top: 50px;
        right: 30px;
        opacity: .7;
      }
    }

    .coin__content {
      line-height: 1.2;

      &--price-list {
        margin-bottom: .7rem;
      }
      &--price-change {
        margin-left: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    .coin__content > &--url {
      text-align: right;
      transition: color 200ms ease;
      &:hover {
        color: vars.$fourthColor;
      }
    }


    &__desc {
      width: 90%;
      margin-top: 5rem;
      text-align: justify;

      &--title {
        text-align: left;
        margin-bottom: 2rem;
        margin-left: calc(58.8px + 2rem);
        font-size: 1.5rem;
        font-weight: bold;
      }

      &--text {
        line-height: 1.5;
        letter-spacing: 1.5px;
      }
    }
  }

  .graphContainer {
    width: 60%;
    margin-top: 2rem;

    .graphHeader {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 2rem;

      .rightSide {
        flex-direction: column;

        .coin__price {
          &-big {
            font-size: 2rem;
            font-weight: bold;
          }
          &.smallText {
            padding-left: 0;
          }

        }
      }
    }
  }
}

.smallText {
  padding-left: .5rem;
  font-size: 1rem;
}

.fab.fa-hotjar {
  padding-left: .3rem;
}