@use 'src/styles/vars.scss';

@media screen and (max-width: 700px) {
  .coin {
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto 1rem auto;
    padding: 1em 2em;
    font-weight: 400;
    background-color: vars.$firstColor;
    color: vars.$sixthColor;
    border: 1px solid vars.$sixthColor;
    border-radius: 10px;
    box-shadow: vars.$secondColor 4px 4px 0px 0px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      font-weight: bold;
      // background-color: vars.$fifthColor;

      &-img {
        width: 50px;
        height: 50px;
        display: block;
        margin-left: 1em;
      }
    }

    &__content {
      margin-bottom: 1rem;

      &--pos {
        color: rgb(7, 201, 72);
        padding-left: .5em;
      }

      &--neg {
        color: rgb(226, 60, 19);
        padding-left: .5em;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .coin {
    height: 100%;
    width: 100%;
    display: block;
    padding: 1em 1.5em;
    font-weight: 400;
    background-color: vars.$firstColor;
    color: vars.$sixthColor;
    border: 1px solid vars.$seventhColor;
    border-radius: 10px;
    box-shadow: vars.$secondColor 4px 4px 0px 0px;
    transition: all 200ms ease;

    &:hover {
      background-color: white;
      border-radius: 0;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      font-weight: bold;
      // background-color: vars.$fifthColor;

      &-img {
        width: 50px;
        height: 50px;
        display: block;
        margin-left: 1em;
      }
    }

    &__content {
      margin-bottom: 1.4rem;

      &--pos {
        color: rgb(7, 201, 72);
        padding-left: .5em;
      }

      &--neg {
        color: rgb(226, 60, 19);
        padding-left: .5em;
      }
    }
  }
}