@use 'src/styles/vars.scss';

@media screen and (max-width: 700px) {
  .home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__load-more {
      width: fit-content;
      margin: 0 auto 3rem;
    }
  }

  .results__msgField {
    width: fit-content;
    margin: 2rem auto;
    color: #666;
    font-size: 1.3rem;
    line-height: 1.2;
  }

  .coins {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4rem auto;

    &__link {
      width: 90%;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 700px) {
  .home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__load-more {
      width: fit-content;
      margin: 0 auto 3rem;
    }
  }

  .goButton {
    &__home {
      margin: 0;
    }
  }

  .results__msgField {
    width: fit-content;
    margin: 2rem auto;
    color: #666;
    font-size: 1.3rem;
    line-height: 1.2;
  }

  .coins {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    // margin-top: 3rem;

    &__link {
      height: 360px;
      width: 300px;
      margin: 0 1.5rem 2.5rem;
    }
  }
}


@media screen and (max-width: 700px) {
  .app__desc {
    height: 255px;
    position: relative;
    margin: 4rem 0 0;
    padding: 0 3rem;
    text-align: center;
    overflow-x: clip;

    &--title {
      font-size: 2.3rem;
      font-weight: bold;
      margin-bottom: .5em;
      line-height: 1.5;
    }

    &--content {
      font-size: 1.3rem;
      line-height: 1.2;
      color: vars.$seventhColor;
    }
  }
}

@media screen and (min-width: 700px) {
  .app__desc {
    height: 150px;
    position: relative;
    margin: 9rem 0;
    padding: 0 3rem;
    text-align: center;
    overflow-x: clip;

    &--title {
      font-size: 2.3rem;
      font-weight: bold;
      margin-bottom: .5em;
      line-height: 1.5;
    }

    &--content {
      width: 40%;
      margin: 0 auto;
      font-size: 1.3rem;
      line-height: 1.2;
      color: vars.$seventhColor;
    }
  }
}