@use 'src/styles/vars.scss';
 @media screen and (max-width: 700px) {
    // mobile
    .platforms {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      min-width: 320px;
      margin: 3rem auto;

      .platforms-list {
        width: 400px;
        min-width: 330px;
        text-align: center;
        border-bottom: 1px solid #25282c10;
        border-right: 1px solid #25282c10;
        padding: 1em;

        &.platforms-list {
          border-right: 0;
        }

        .platform-item {
          padding: .6em 0;
        }
      }

      .platform-name {
        font-size: 1.2em;
        font-weight: bold;
      }

    }
  }

  // desktop
  @media screen and (min-width: 700px) {
  .platforms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    min-width: 320px;
    margin: 3rem auto;

    .platforms-list {
      width: 400px;
      min-width: 330px;
      text-align: center;
      border-bottom: 1px solid #25282c10;
      border-right: 1px solid #25282c10;
      padding: 1em;

      &.platforms-list:nth-child(3) {
          border-right: 0;
      }
      &.platforms-list:nth-child(6) {
          border-right: 0;
      }
      &.platforms-list:nth-child(9) {
          border-right: 0;
      }
      &.platforms-list:nth-child(12) {
          border-right: 0;
      }
      &.platforms-list:nth-child(15) {
          border-right: 0;
      }
      &.platforms-list:nth-child(18) {
        border-right: 0;
      }
      &.platforms-list:nth-child(19) {
        border-bottom: 0;
      }
      &.platforms-list:nth-child(20) {
        border-bottom: 0;
      }
      &.platforms-list:nth-child(21) {
        border-bottom: 0;
        border-right: 0;
      }
      .platform-item {
          padding: .6em 0;
      }
    }

    .platform-name {
        font-size: 1.2em;
        font-weight: bold;
    }

    .platform-url {
      transition: color 200ms ease;
      &:hover {
        color: vars.$fourthColor;
      }
    }
  }

}



