$firstColor: #e4fffb; // $firstColor
$secondColor: #d2d2f9; // $secondColor
$thirdColor: #638EF7; // $thirdColor
$fourthColor: #0000FE; // $fourthColor
$fifthColor: white; // $fifthColor
$sixthColor: #25282c; // $sixthColor
$seventhColor: #666666; // $seventhColor