$firstColor: #e4fffb; // coin light
$secondColor: #d2d2f9; // coin boxshadow ligth
$thirdColor: #638EF7; // logo and burger/cross menu light
$fourthColor: #0000FE; // goButton and hover on links
$fifthColor: white; // $fifthColor
$sixthColor: #25282c; // $sixthColor
$seventhColor: #666666; // $seventhColor
$eigthColor: #1f2b3a; // coin dark
$ninthColor: #ffa366; // coin boxshadow dark
$tenthColor: rgba(255, 198, 160, 0.5); // coin boxshadow dark
$eleventhColor: #ff6600;
$headerLinksHover: hsl(240, 100%, 70%);

.textBold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.disabled {
  cursor: default;
  color: grey;
}