@use 'reset';
@use 'vars';

// or you can import your own font
@font-face {
  // font-family: 'Roboto';
  // src: url('../assets/fonts/Roboto-Regular.ttf');

}

html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
      width: 7px;
  }

  ::-webkit-scrollbar-thumb {
      background: vars.$sixthColor;
      // border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
}

body {
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Bevellier', sans-serif;
  font-family: 'Chillax', sans-serif;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .blockchain_img {
    display: block;
    height: 600px;
    margin: 0 auto;
    width: 600px;
    position: absolute;
    top: -80%;
    left: -60%;
    z-index: -1;
    opacity: 0.1;
    animation: rotating infinite linear 300s;
    -webkit-animation: rotating infinite linear 300s;
  }
}

@media screen and (min-width: 700px) {
  .blockchain_img {
    display: block;
    width: 1300px;
    height: 1300px;
    left: -30%;
    margin: 0 auto;
    opacity: .1;
    position: absolute;
    top: -500%;
    z-index: -1;
    animation: rotating 300s linear infinite;
    -webkit-animation: rotating 300s linear infinite;
  }
}

.goButton {
  background-color: vars.$fifthColor;
  color: vars.$sixthColor;
  margin: 1rem 1.3rem 1rem 7rem;
  padding: .5em 1.5em;
  border: 1px solid vars.$sixthColor;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    color: vars.$fourthColor;
    border: 1px solid vars.$fourthColor;
    box-shadow: 4px 4px 0 0 vars.$secondColor;
  }
}

@media screen and (max-width: 700px) {
  .goButton {
    margin: 1rem 1.3rem;
  }
}

// loader
.loader {
  width: fit-content;
  margin: 1rem auto;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid vars.$thirdColor;
  border-color: vars.$thirdColor transparent vars.$thirdColor transparent;
  animation: rotating 1.2s linear infinite;
  -webkit-animation: rotating 1.2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// fontawesome icons
.fa, .fas {
  font-size: 1.2rem;
  font-weight: 400;
}