@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
}

.app {
    width: 500px;
    margin: 1em auto;
    text-align: center;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/