@use 'reset';
@use 'vars';

// or you can import your own font
@font-face {
  // font-family: 'Roboto';
  // src: url('../assets/fonts/Roboto-Regular.ttf');

}

body {
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Bevellier', sans-serif;
  font-family: 'Chillax', sans-serif;
}

.app__desc {
  padding: 1rem 3rem;
  margin-top: 1.5rem;
  text-align: center;

  &--title {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: .5em;
    line-height: 1.5;
  }

  &--content {
    font-size: 1.3rem;
    line-height: 1.2;
    color: rgb(102, 102, 102);
  }
}

.goButton {
  background-color: vars.$alt;
  color: vars.$primary;
  margin: 1rem 1.3rem;
  padding: .5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 255, .8);
  }
}

.rapidcoin__logo {
  width: 30px;
  height: 30px;
}

// loader
.loader {
  width: 15%;
  margin: 1rem auto;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid vars.$darkpurple;
  border-color: vars.$darkpurple transparent vars.$darkpurple transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// fontawesome icons
.fa, .fas {
  font-size: 1.2rem;
}