@use 'src/styles/vars.scss';

// mobile
@media screen and (max-width: 700px) {
  .filters-bar {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 50% 50%;
    margin: 3rem auto 0;

    .goButton {
      &__filter {
        width: 143px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5em 1.5em;
        margin: .3rem 0;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .filters-bar {
    width: 92%;
    margin: 5rem auto 0;
  }
}

// desktop
@media screen and (min-width: 700px) {
  .filters-bar {
    width: fit-content;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
    margin-bottom: 3rem;
  }

  .goButton {
    margin: 0 2rem;

    &__filter {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.flex {
      display: flex;
      align-items: center;

      .new-feature {
        display: inline-block;
        margin-left: .5em;
        padding: .3rem;
        border-radius: 3px;
      }
    }
  }


}

.active {
  color: vars.$fourthColor;
  border: 1px solid vars.$fourthColor;
}

.fa-sort-amount-down,
.fa-sort-amount-up-alt {
  margin-right: .5rem;
}
