@use 'src/styles/vars.scss';
// mobile
@media screen and (max-width: 700px) {
  .filters-bar {
    width: 90%;
    display: flex;
    margin: 3rem auto 0;
  }

  .goButton {
    &__filter-price {
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .3em 1.5em;
    }
  }
}

// desktop
@media screen and (min-width: 700px) {
  .filters-bar {
    width: fit-content;
    height: 40px;
    display: flex;
    margin-left: 3rem;
    margin-bottom: 3rem;
  }

  .goButton {
    margin: 0 2rem;

    &__filter-price {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--active {
        color: vars.$fourthColor;
        border: 1px solid vars.$fourthColor;
      }
    }
  }
}
