@use 'src/styles/vars.scss';
// mobile
@media screen and (max-width: 700px) {
  .filters-bar {
    width: 90%;
    display: flex;
    margin: 3rem auto 1rem;
  }

  .goButton {
    &__filter-price {
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .3em 1.5em;
    }
  }
}

// desktop
@media screen and (min-width: 700px) {
  .filters-bar {
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin: 1rem auto 3rem;
  }

  .goButton {
    margin: 0;

    &__filter-price {
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .3em 1.5em;

      &--active {
        color: vars.$fourthColor;
        border: 1px solid vars.$fourthColor;
      }
    }
  }
}
