@use 'src/styles/vars.scss';

.form {
  width: 25%;
  background-color: vars.$primary;

  &__input {
    visibility: hidden;

    &--open {
      visibility: visible;
      padding: .5em 1em;
      font-size: 1rem;
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 7px;
    }
  }
}
