@use 'src/styles/vars.scss';

@media screen and (max-width: 700px) {
  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }
  .table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    margin: 0 auto 2rem;
    font-size: .9rem;

    thead {
      border-bottom: 2.5px solid #25282c10;
      font-weight: bold;

      tr > .link-column {
        min-width: 80px;
        padding-left: .5rem;
      }
      tr > .name-column {
        min-width: 150px;
        padding-right: 55px;
      }
      tr > .change-column {
        padding-left: 1rem;
      }
    }

    th, td {
      height: 50px;
      vertical-align: middle;
    }

    td {
      text-align: center;
    }

    tr {
      transition: all 250ms ease-out;
      border-bottom: 1px solid #25282c10;
    }

    thead tr th:nth-child(1), tbody tr td:nth-child(1) {
      position: sticky;
      left: 0;
      z-index: 9;
      width: 80px;
      padding-right: 1rem;
    }

    thead tr th:nth-child(5), tbody tr td:nth-child(5),
    thead tr th:nth-child(6), tbody tr td:nth-child(6) {
      min-width: 160px;
    }

    thead tr th:nth-child(7), tbody tr td:nth-child(7) {
      min-width: 220px;
    }

    .coin-images {
      width: 30px;
      height: 30px;
    }

    .table-coin {
      &__td {
        min-width: 130px;
        padding: 0 0 0 1rem;
      }
      &__price {
        min-width: 100px;
        text-align: right;
      }
      .coin-images {
        width: auto;
      }
      &__link {
        margin: 0;
        a {
          width: 100%;
        }
      }
      &.flex {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
      }
      &__name {
        padding-right: .5rem;
        padding-left: 0;
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 3rem;
    table-layout: auto;

    thead {
      position: relative;
      border-bottom: 2.5px solid #25282c10;
      font-weight: bold;
      z-index: 9;

      tr > .link-column {
        padding-left: .5rem;
      }

      tr > .name-column {
        padding-left: 1rem;
      }

      tr > .price-column {
        text-align: center;
      }
    }

    th {
      position: sticky;
      top: 72.5px;
    }

    th, td {
        height: 50px;
        vertical-align: middle;
    }

    td {
        text-align: center;
    }

    tr {
        min-width: 310px;
        height: 3.5rem;
        transition: all 250ms ease-out;
        border-bottom: 1px solid #25282c10;
    }

    .coin-images {
        width: 30px;
        height: 30px;
    }

    .table-coin {
        .coin-images {
          width: auto;
        }
        &__link {
          width: 20%;
          margin: 0 auto;
          a {
            width: 100%;
          }
        }
        &.flex {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0;
        }
        &__name {
          margin-left: 1rem;
          padding-right: .5rem;
          font-weight: bold;
        }
    }

  }
}

.fab.fa-hotjar { // fire icon
  margin-left: .3rem;
  color: vars.$eleventhColor;
  animation: shining 2000ms infinite;
  -webkit-animation: shining 2000ms infinite;
}
